body{
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
}
.card{
	text-align: center;
	padding: 15px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .card{
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .card{
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .card{
    width: 265.48px;
  }
}
.fb {
  background-color: #3B5998;
  color: white;
  margin: 5px;
  width: 90%;
}

.twitter {
  background-color: #55ACEE;
  color: white;
  margin: 5px;
  width: 90%;
}

.google {
  background-color: #dd4b39;
  color: white;
  margin: 5px;
  width: 90%;
}
